.admin-panel {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 150px;
  }
  
  .search-input {
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
  }
  
  .appointments-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .appointments-table th,
  .appointments-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .appointments-table th {
    background-color: #f2f2f2;
  }
.h2{
    color:red;
}